.cards-container{
	display: grid;
	grid-template-columns: 12em 12em 12em;
	grid-template-rows: 1fr 1fr;
	gap: 1.5em;
	margin-left: 1.5em;

	section{
		border-radius: 15px;
		overflow: hidden;
		display: flex;
		align-items: flex-end;

		.card-content{
			width: 100%; height: 80%;
			padding: 1em;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			color: white;
			background: hsl(235, 46%, 20%);
		}
	}
}

.card-header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	span{ font-weight: 500; }
	img{ cursor: pointer; }
}

.card-hours{
	h3{
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: .1em;
	}

	p{
		font-size: .8rem;
		color: hsl(236, 100%, 87%);
	}
}

$background: (
	"work": hsl(15, 100%, 70%), 
	"play": hsl(195, 74%, 62%), 
	"study": hsl(348, 100%, 68%), 
	"exercise": hsl(145, 58%, 55%), 
	"social": hsl(264, 64%, 52%), 
	"self-care": hsl(43, 84%, 65%)
);

$i: 1;

@each $name, $glyph in $background {
	section:nth-child(#{$i}){
		background: url('../../assets/icon-#{$name}.svg') $glyph no-repeat;
		background-position: 90% -12px;
	}
	$i: $i + 1;
}
