// Normalize CSS
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-width: 375px;

	font: normal 18px 'Rubik', sans-serif;
	background: hsl(226, 43%, 10%);
}


button{
	background: transparent;
	border: none;
	font: 400 12px 'Rubik', sans-serif;
	cursor: pointer;
	color: hsl(236, 100%, 87%);

	&:hover{
		color: white;
	}
}

.active{
	color: white;
}