aside{
	width: 12em;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-between;
	background: hsl(235, 46%, 20%);

	.user-data{
		height: 70%;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		background: hsl(246, 80%, 60%);
	}

	.time-interval-options{
		height: 30%;
		justify-content: center;
		flex-direction: column;
		gap: .8em 0;

		button{ text-align: left; }
	}
}

.user-data{
	img{
		border-radius: 50%;
		border: 2px solid white;
	}

	span{
		margin-top: 2em;
		display: block;
		color: hsl(236, 100%, 87%);
		font-size: .8rem;
	}

	h1{
		font-weight: 300;
		font-size: 2rem;
	}
}

@media (max-width: 890px) {
	aside{
		width: 90vw;
		margin: 1.5em 0;

		.user-data{
			display: flex;
			align-items: center;
			gap: 1em;

			span{ margin-top: 0; }

			h1{
				font-size: 1rem;
			}
		}

		.time-interval-options{
			flex-direction: row;
			justify-content: space-around;
	
			button{ 
				text-align: center; 
				font-size: .8rem;
			}
		}
	}
}